.cardİtem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.cardİtem p {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cardBusiness{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
 
}
